node_modules
npm-debug.log
.git
.gitignore
.dockerignore
Dockerfile
.env
.env.local
.DS_Store
dist
build
coverage
.next
.nuxt
out
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
yarn-error.log
